.select-container {
    display: flex;
    gap: 10px;
}

.settings-container-wrapper {
    background-color: var(--fill);
    border-radius: var(--border-radius-high);
    height: 440px;
    box-sizing: border-box;
    padding: 0 0 35px 35px;
    position: relative;
}

.information-icon-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
}

.information-icon {
    color: var(--accent);
    cursor: pointer;
}

.settings-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 120px;
}

.menu-item {
    height: 32px;
    width: 120px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
}

.active {
    background-color: var(--fill-mid);
    color: var(--accent);
    border-radius: var(--border-radius-low);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.splitter {
    width: 120px;
    height: 2px;
}

.splitter-accent {
    height: 360px;
    width: 2px;
}